<h1>Attachments#show</h1>
<!DOCTYPE html>
<html>
  <head>
<title>Ruby on Rails Tutorial Sample App </title>
<%= csrf_meta_tag %> </head>
<body>
<%= @link %>
<p>Done?<%= link_to "Sign out!", signout_path %></p>
  </body>
</html>
